.message
  .message__latest-info
    .message__latest-info__talker 
      kengo
    .message__latest-info__date 
      2020/2/16
  .message__text 
    メッシ
  .message__latest-info
    .message__latest-info__talker 
      kengo
    .message__latest-info__date 
      2020/2/16
  .message__text 
    クリロナ